main {
    font-family:Times New Roman;
    line-height:1.5;
    background-color:blue;
    color:chartreuse;
}
main > h1 {
    text-align:center;
    font-size:25px;
    color:red;
}
body {
    font-family:Georgia;
    line-height:2;
    background-color:blueviolet
    color:chocolate;
}
